<html>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-teal.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>



	<!-- Uses a header that scrolls with the text, rather than staying
	  locked at the top -->
	<div class="mdl-layout mdl-js-layout">
	  <header class="mdl-layout__header mdl-layout__header--scroll">
	    <div class="mdl-layout__header-row">
	      <!-- Title -->
	      <span class="mdl-layout-title" style="color:white">Uconomy</span>
	      <!-- Add spacer, to align navigation to the right -->
	      <div class="mdl-layout-spacer"></div>
	      <!-- Navigation -->
	      <nav class="mdl-navigation">
		<a class="mdl-navigation__link" style="color:white" href="">Home</a>
		<a class="mdl-navigation__link" style="color:white" href="">Location</a>
		<a class="mdl-navigation__link" style="color:white" href="">Potato</a>
	      </nav>
	    </div>
	  </header>
	  <div class="mdl-layout__drawer">
	    <span class="mdl-layout-title">Uconomy</span>
	    <nav class="mdl-navigation">
	      <a class="mdl-navigation__link" href="">Home</a>
	      <a class="mdl-navigation__link" href="">Location</a>
	      <a class="mdl-navigation__link" href="">Potato</a>
	    </nav>
	  </div>
	  <main class="mdl-layout__content">
	    <div class="page-content"><!-- Your content goes here --></div>
	  </main>
	</div>

</html>
